name: Kernel Build

on:
  workflow_dispatch:
    inputs:
      tag:
        description: '通用内核清单分支名称'
        required: true
        default: 'android15-6.6-lts'

jobs:
  build:
    name: 初始化编译环境
    runs-on: ubuntu-latest
    permissions: write-all

    steps:
      - name: 检查服务器性能
        run: |
          echo "--------------------------CPU信息--------------------------"
          echo "CPU物理数量: $(cat /proc/cpuinfo | grep "physical id" | sort | uniq | wc -l)"
          echo "CPU核心数量: $(nproc)"
          echo -e "CPU型号信息:$(cat /proc/cpuinfo | grep -m1 name | awk -F: '{print $2}')\n"
          echo "--------------------------内存信息--------------------------"
          echo -e "$(sudo lshw -short -C memory | grep GiB)\n"
          echo "--------------------------硬盘信息--------------------------"
          echo "硬盘数量: $(ls /dev/sd* | grep -v [1-9] | wc -l)" && df -hT

      - name: 安装依赖工具
        run: |
          sudo curl https://storage.googleapis.com/git-repo-downloads/repo > /usr/local/bin/repo
          sudo chmod +x /usr/local/bin/repo
          sudo timedatectl set-timezone Asia/Shanghai

      - name: 拉取本地仓库
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 同步内核源码
        run: |
          repo init --repo-rev=v2.16 --depth=1 -u https://android.googlesource.com/kernel/manifest -b common-${{ inputs.tag }}
          repo sync -c --no-tags --no-clone-bundle

      - name: 修改源码
        run: |
          if [ -e build/build.sh ]; then
            sed -i 's/-dirty//' common/scripts
          else
            sed -i '/if {/,/fi/d' build/kernel/kleaf/workspace_status_stamp.py
            rm -rf common/android/abi_gki_protected_exports_*
            perl -pi -e 's/^\s*"protected_exports_list"\s*:\s*"android\/abi_gki_protected_exports_aarch64",\s*$//;' common/BUILD.bazel
          fi

      - name: 编译镜像
        run: |
          if [ -e build/build.sh ]; then
            LTO=thin BUILD_CONFIG=common/build.config.gki.aarch64 build/build.sh
          else
            if [ "${{ inputs.tag }}" == "android16-6.12-*" ]; then
              tools/bazel run --config=fast --config=stamp --lto=thin //common:kernel_aarch64_dist -- --destdir=out
            else
              tools/bazel run --config=fast --config=stamp --lto=thin //common:kernel_aarch64_dist -- --dist_dir=out
            fi
          fi

      - name: 上传到Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ inputs.tag }}
          files: |
            out/boot*.img

      - name: 清理旧文件
        uses: ophub/delete-releases-workflows@main
        with:
          workflows_keep_day: 0
          releases_keep_latest: 1
          delete_tags: true
          delete_workflows: true
          delete_releases: true
          gh_token: ${{ secrets.GITHUB_TOKEN }}